*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
}

.config{
    width: 20%;
    height: 100vh;
    background-color: darkred;
}

.conteudo{
    width: 80%;
    height: 100vh;
    background-color: #2c2c2c;
}
#open{
    width: 30px;
    height: 30px;
    margin: 20px;
    background-image: url(../images/settings-glyph-black-icon-png_293809-removebg-preview\ \(1\).png);
    background-size: cover;
    cursor: pointer;
    transition: filter 0.5s;
}

#open:hover{
    filter: drop-shadow(0 0 10px #c4209b);
}

.textC{
    display: flex;/* e necessário para usar os debaixo */
    align-items: center;/* alinha na vertical */
    /*justify-content: center;/* alinha na horizontal */
    /*pedding-top: vamos ver ;*/
}

.text-wraper{
    color: whitesmoke;
    width: 400px;
    text-align: justify;
}

.text-wraper:nth-of-type(2){
    display: none;
}
